.main {
  /* padding: 10px 40px 10px 40px; */
  padding:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: purple;
  color: white;
}
header {
  height: 40px;
  margin: 0 auto;
  width: 100%;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.inputGroup {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.inputGroup input {
  padding: 9px;
  width: 35%;
}
.btnBlock {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.btn {
  border: none;
  color: white;
  border-radius: 6px;
  background: purple;
  width: 70%;
  height: 35px;
}
.blockState {
  background: purple;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  margin-top: 30px
}
.blockState p{
  margin: 0px;
  font-size: 21px;
  padding: 10px;
}
.imgBlock{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.imgBlock img{
  min-width: 30%;
}
